<form method="" action="" id="LinkForm" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-md-8">
            <div class="card" style="padding-bottom: 20px;">
                <div class="card-header card-header-icon" data-background-color="blue">
                    <i class="material-icons">link</i>
                </div>
                <div class="card-content">
                    <h4 class="card-title" th:text="#{link.item}"/>
                    <div class="row">

                        <div class="col-sm-6">

                            <div class="row">
                                <div class="col-md-11">
                                    <div style="padding-left: 0px; padding-bottom: 10px;">
                                        <label class="hidden" th:text="#{link.card}"/>
                                        <select class="selectpicker"  data-size="7" data-style="btn btn-trans" id="card"
                                                name="card">
                                            <option value="0" th:text="#{select.card.0}" />
                                            <option th:each="card : ${cards}" th:value="${card?.card_id}"
                                                    th:text="|${card?.system} *** **** **** ** ${card?.last_two} :  ${card?.bank}|"/>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group label-floating">
                                        <label class="control-label" th:text="#{link.txt}"/>
                                        <input type="text" class="form-control" value="" name="text" maxlength="29">
                                        <span class="material-input"></span>
                                    </div>
                                </div>

                                <div class="col-md-3" style="padding-top: 10px;">
                                    <div class="checkbox form-horizontal-checkbox">
                                        <label>
                                            <input type="checkbox" name="fixTxt" th:attr="data-item=#{link.fixtxt}">
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group label-floating">
                                        <label class="control-label" th:text="#{link.sum}"/>
                                        <input type="number" step="any" class="form-control" value="" name="sum">
                                        <span class="material-input"></span>
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding-top: 10px;">
                                    <div class="checkbox form-horizontal-checkbox">
                                        <label>
                                            <input type="checkbox" name="fixSum" th:attr="data-item=#{link.fixsum}">
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">

                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="label label-danger" id="item" th:text="#{link.item}"/>
                                </div>
                                <div class="info-content" style="height: 150px;">

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="footer text-right" style="margin-right: 20px;">
                    <button type="submit" class="btn btn-info btn-sm" id="btn_create" disabled th:text="#{link.button.create}" />
                    <button style="padding: 0; margin-right: 10px;" class="btn btn-simple hidden" type="button" id="btn_forward"><h4> &lt;&lt; </h4></button>
                    <button type="button" class="btn btn-info btn-sm hidden" id="btn_copy" th:text="#{link.button.copy}" />
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript" th:inline="javascript" th:if="${#lists.isEmpty(cards)}">
        /*<![CDATA[*/
        var error_not_reg = [[#{error.notregistered}]];
        /*]]>*/
    </script>
</form>

